@model IEnumerable<Listado_ProdClient.Models.Producto>

@{
    ViewData["Title"] = "listadoTablaProdutos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h1>Lista de produtos</h1>

 <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Productos
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ide_pro)</th>
                        <th>@Html.DisplayNameFor(model => model.des_pro)</th>
                        <th>@Html.DisplayNameFor(model => model.pre_pro)</th>
                        <th>@Html.DisplayNameFor(model => model.sac_pro)</th>
                        <th>@Html.DisplayNameFor(model => model.smi_pro)</th>
                        <th>@Html.DisplayNameFor(model => model.uni_pro)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ide_pro)</td>
                            <td>@Html.DisplayFor(modelItem => item.des_pro)</td>
                            <td>@Html.DisplayFor(modelItem => item.pre_pro)</td>
                            <td>@Html.DisplayFor(modelItem => item.sac_pro)</td>
                            <td>@Html.DisplayFor(modelItem => item.smi_pro)5</td>
                            <td>@Html.DisplayFor(modelItem => item.uni_pro)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ide_pro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.des_pro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pre_pro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sac_pro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.smi_pro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uni_pro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ide_pro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.des_pro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pre_pro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sac_pro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.smi_pro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uni_pro)
            </td>
        </tr>
}
    </tbody>
</table>

                  
